
.gantChart {
    width: 90%;
    height:  90vh;
    border: double grey;
	overflow-x:scroll;
}
.gantChartArea{

	height:100%;
	position:relative;
}

.gantChartBar{
    background:lightgreen;
	position:absolute;
}

.gantChart table{
	border-collapse: collapse;
	white-space: nowrap;
}

.gantChart table td{
	border: solid 1px black;
	margin: 0px;
	padding: 0px;
  vertical-align: top;
}

.unit td{
	border-width: 0px 1px 0px 1px;
}

.gantChart table.columns td {
	border: 1px solid white;
}

.gantChart table.columns{
	background-color: white;
}

.columns > td{
  text-align: center;
}

.gantChart td.free-time{
  background-color:whitesmoke;
  position: relative;
}

.gantChart table.mainUnit td{
  border: solid 1px black;
}

.gantChart table td{
  border-top: solid 0px black;
} 
.mainUnit td:not(.first){
  text-align: center;
}

tr.unit > td, tr.mainUnit > td {
  border: 1px solid black;
  border-color: transparent black;
  border-collapse: collapse;
}