#tasks {
  table-layout: fixed;
}

#tasks td, #tasks th {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#tasks > tbody > tr > td:first-child {
  width: 12px;
}
#tasks .st-selected {
  background-color: wheat;
}

.btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  text-indent: -999em;
}

.btn-plus{
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4yLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik0yNTYsMEMxMTQuNjA5LDAsMCwxMTQuNjA5LDAsMjU2czExNC42MDksMjU2LDI1NiwyNTZzMjU2LTExNC42MDksMjU2LTI1NlMzOTcuMzkxLDAsMjU2LDB6IE0yNTYsNDcyDQoJYy0xMTkuMjk3LDAtMjE2LTk2LjcwMy0yMTYtMjE2UzEzNi43MDMsNDAsMjU2LDQwczIxNiw5Ni43MDMsMjE2LDIxNlMzNzUuMjk3LDQ3MiwyNTYsNDcyeiIvPg0KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yNTYsMTI4Yy03MC42OTUsMC0xMjgsNTcuMzEyLTEyOCwxMjhzNTcuMzA1LDEyOCwxMjgsMTI4DQoJYzcwLjY4OCwwLDEyOC01Ny4zMTIsMTI4LTEyOFMzMjYuNjg4LDEyOCwyNTYsMTI4eiBNMzIwLDI3MmgtNDh2NDhoLTMydi00OGgtNDh2LTMyaDQ4di00OGgzMnY0OGg0OFYyNzJ6Ii8+DQo8L3N2Zz4=);
}

.btn-minus {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4yLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik0yNTYsMEMxMTQuNjA5LDAsMCwxMTQuNjA5LDAsMjU2czExNC42MDksMjU2LDI1NiwyNTZzMjU2LTExNC42MDksMjU2LTI1NlMzOTcuMzkxLDAsMjU2LDB6IE0yNTYsNDcyDQoJYy0xMTkuMjk3LDAtMjE2LTk2LjcwMy0yMTYtMjE2UzEzNi43MDMsNDAsMjU2LDQwczIxNiw5Ni43MDMsMjE2LDIxNlMzNzUuMjk3LDQ3MiwyNTYsNDcyeiIvPg0KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yNTYsMTI4Yy03MC42OTUsMC0xMjgsNTcuMzEyLTEyOCwxMjhzNTcuMzA1LDEyOCwxMjgsMTI4DQoJYzcwLjY4OCwwLDEyOC01Ny4zMTIsMTI4LTEyOFMzMjYuNjg4LDEyOCwyNTYsMTI4eiBNMzIwLDI3MkgxOTJ2LTMyaDEyOFYyNzJ6Ii8+DQo8L3N2Zz4=)
}

